{% extends 'base.html' %}

{% block conteudo %}

<h1 class="text-center">{{ title }}</h1>

<form class="form-horizontal" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="name" class="col-md-offset-1 col-md-2 control-label">{{ title }}: </label>
        <div class="col-md-6">
            <input type="test" class="form-control" id="name" name="name" placeholder="Insira o nome">
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="pull-right">
            <a class="btn btn-danger" href="{% url 'index' %}" role="button">Voltar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</form>

{% if objetos %}
    {% if title == 'Processo' %}
    <div class=" col-xs-offset-2 col-xs-8">
        <h3>Lista de Processos</h3>
        <table class="table menu-sabadin">
            <thead>
                <th class="col-xs-4">ID</th>
                <th class="col-xs-8">Nome</th>
            </thead>
            <tbody>
                {% for objeto in objetos %}
                <tr>
                    <td>
                        {{ objeto.id }} 
                    </td>
                    <td>
                        <a href="{% url 'process_config' objeto.id %}">{{ objeto.name }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class=" col-xs-offset-2 col-xs-8">
        <h3>Lista de Etapas</h3>
        <table class="table menu-sabadin">
            <thead>
                <th class="col-xs-4">ID</th>
                <th class="col-xs-8">Nome</th>
            </thead>
            <tbody>
                {% for objeto in objetos %}
                <tr>
                    <td>
                        {{ objeto.id }} 
                    </td>
                    <td>
                       {{ objeto.name }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endif %}




{% endblock %}