{% extends 'base.html' %}

{% block conteudo %}

<h1 class="text-center">{{ title }}</h1>
    
<form class="form-horizontal" method="POST">
    {% csrf_token %}
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
        <div class="row">
            {% if tipo == 'novo' %}
            <div class="form-group">
                <label for="step" class="col-md-offset-1 col-md-2 control-label">
                    Etapa:
                </label>
                <div class="col-md-7">
                    <select class="form-control" id="step" name="step" placeholder="Etapa">
                        {% for etapa in etapas %}
                            <option value="{{ etapa.id }}">{{ etapa.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="time" class="col-md-offset-1 col-md-2 control-label">Tempo:</label>
                <div class="col-md-7">
                    <input class="form-control" id="time" placeholder="preencha em minutos" name="time" type="number">
                </div>
            </div>
            <div class="form-group">
                <label for="order" class="col-md-offset-1 col-md-2 control-label">Ordem:</label>
                <div class="col-md-7">
                    <input type="number" class="form-control" id="order" placeholder="digite um numero" name="order">
                </div>
            </div>
            
        </div>
        <div class="pull-right">
            <a class="btn btn-danger" href="{% url 'process_config' processo.id %}" role="button">Voltar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </div>
</form>
{% endblock %}